/* -------------------- CSS BY NAME -------------------------------------- */

/* -------------------- IMPORTED FONTS -------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');

/*-------------------- CSS RESET ---------------------------------------------------*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* -------------------- ROOT VARIABLES --------------------------------------- */

:root {
    --darkgrey: #0D0D0D;
    --lightgrey: #F2F2F2;
    --mossgreen: #7ABFBF;
    --lightgreen: rgba(122, 191, 191, .5);
    --orange: #EB5428;
    --font-primary: 'Bebas Neue', sans-serif;
    --font-secondary: 'Montserrat', sans-serif;
}

/* --------------------GLOBAL STYLES (mobile first/small) --------------------*/

/* Styles from powerpoint*/

html {
    font-family: var(--font-primary);
    background-color: var(--lightgreen);
}

h1 {
    font-size: 40px;
    text-align: center;
}

h2 {
    font-size: 30px;
    text-align: center;
}

h3 {
    font-size: 25px;
}

nav a, nav span, #menu li, #social li, footer {
    font-weight: 400;
    font-size: 20px;
}

p, dd, li, nav, input {
    font-family: var(--font-secondary);
    font-weight: 400;
    font-size: 16px;
}

dt {
    font-family: var(--font-secondary);
    font-weight: 700;
    font-size: 16px;
}

/* Additional rules */

main {
    display: block;
    background-color: var(--lightgrey);
    width: 80%;
}

p {
    padding: 0;
}

dl {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
}
aside {
    background-color: var(--mossgreen);
    padding: 10px;
}

aside > article {
    padding: 10px;
}

.star-rating {
    font-weight: bold;
}

article h3 {
    padding: 10px;
}

#ingredients ul, ol {
    margin-left: 20px;
}

/*-------------------- MEDIA QUERY (medium) --------------------------------*/

/*-------------------- MEDIA QUERY (large) ------------------------------------*/


