/* -------------------- CSS BY NAME -------------------------------------- */

/* -------------------- IMPORTED FONTS -------------------------------------- */

@import url('https://fonts.google.com/share?selection.family=Bebas%20Neue%7CMontserrat:ital,wght@0,400;0,700;1,400');

/*-------------------- CSS RESET ---------------------------------------------------*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* -------------------- ROOT VARIABLES --------------------------------------- */

:root {
    --darkgrey: #0D0D0D;
    --lightgrey: #F2F2F2;
    --mossgreen: #7ABFBF;
    --lightgreen: rgba(122, 191, 191, .5);
    --orange: #EB5428;
    --font-primary: 'Bebas Neue', sans-serif;
    --font-secondary: 'Kavoon', sans-serif;
}

/* --------------------GLOBAL STYLES (mobile first/small) --------------------*/

html {
    font-family: var(--font-primary);
    background-color: var(--lightgreen);
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
}

nav a, nav span, #menu li, #social li, footer {
    font-weight: 400;
    font-size: 20px;
}

p, dd, li, nav, input {
    font-family: var(--font-secondary);
    font-weight: 400;
    font-size: 16px;
}

dt {
    font-family: var(--font-secondary);
    font-weight: 700;
    font-size: 16px;
}

/*-------------------- MEDIA QUERY (medium) --------------------------------*/

/*-------------------- MEDIA QUERY (large) ------------------------------------*/


